<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form id="token" action="https://www.googleapis.com/oauth2/v4/token" method="post" enctype="application/x-www-form-urlencoded">
        <input type="text" name="code" th:value="${param.code}"><br>
        <input type="text" name="client_id" value="346535144521-qthfl467cl8jrdcdc2g8l3lvpurqsk1h.apps.googleusercontent.com"><br>
        <input type="text" name="client_secret" value="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">
        <input type="text" name="redirect_uri" value="http://localhost:8888/loginform/google/token"><br>
        <input type="text" name="grant_type" value="authorization_code">
    </form>

    <script>
        window.onload = function() {
            let f = document.getElementById("token");
            f.submit();
        }
    </script>
</body>
</html>