<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="google-signin-client_id" content="346535144521-qthfl467cl8jrdcdc2g8l3lvpurqsk1h.apps.googleusercontent.com">
    <title>Title</title>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <link rel="stylesheet" href="/css/ul.css">
</head>
<body>
    <!-- Spring Security를 사용하기 위해선 반드시 method는 POST를 사용해야 한다. -->
    <form action="/loginform/login" method="post">
        <ul>
            <!-- name은 하나라도 빠짐없이 다 작성해야하며, 각 name명은 시큐리티에서 잡고있는 아이디 비빌번호 변수명과 반드시 일치해야 한다. -->
            <li><label>아이디 : </label><input name="emailId" type="text"></li>
            <li><label>비밀번호 : </label><input name="pwd" type="password"></li>
            <!-- 직접 로그아웃 하기전까지 로그인을 유지시켜주는 체크박스 -->
            <li><label>로그인 유지하기</label><input name="remember-me" type="checkbox"></li>
            <!-- 아이디 및 비밀번호가 틀릴 경우 에러 메세지가 등장하는 구역 -->
            <li><div th:if="${param.error}">
                <p th:text="${errorMsg}"></p>
            </div></li>
        </ul>
        <input type="submit" value="로그인">
        <input name="btnJoin" type="button" value="회원가입" onclick="location.href='/joinform'">
    </form>

    <!--<a href="/oauth2/authorization/google" class="btn btn-lg btn-primary">Google Login</a>-->
    <a href="https://accounts.google.com/o/oauth2/v2/auth?scope=https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fuserinfo.profile%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fuserinfo.email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fuser.birthday.read%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fuser.gender.read%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fuser.phonenumbers.read&access_type=offline&include_granted_scopes=true&response_type=code&state=state_parameter_passthrough_value&redirect_uri=http%3A%2F%2Flocalhost%3A8888%2Floginform%2Fgoogle%2Ftoken&client_id=346535144521-qthfl467cl8jrdcdc2g8l3lvpurqsk1h.apps.googleusercontent.com">구글 로그인</a>
    <a th:href="${googleUrl}">찐 구글 로그인</a>
    <form id="token" action="https://www.googleapis.com/oauth2/v4/token" method="post" enctype="application/x-www-form-urlencoded">
        code : <input type="text" id="code" name="code" th:value="${param.code}" readonly="true"><br>
        client_id : <input type="text" name="client_id" value="346535144521-qthfl467cl8jrdcdc2g8l3lvpurqsk1h.apps.googleusercontent.com" readonly="true"><br>
        client_secret : <input type="text" name="client_secret" value="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" readonly="true"><br>
        redirect_uri : <input type="text" name="redirect_uri" value="http://localhost:8888/loginform" readonly="true"><br>
        grant_type : <input type="text" name="grant_type" value="authorization_code" readonly="true">
    </form>
    <div th:if="${accessToken != null}" th:text="${accessToken}"></div>
    <div></div>
    <a th:href="${peopleUrl}">PeopleApiUrl</a>
    <form th:if="${emailId != null}" id="google">
        <input name="emailId" type="text" th:value="${emailId}" readonly="true"><br>
        <input name="name" type="text" th:value="${name}" readonly="true"><br>
        <input name="birthday" type="text" th:value="${birthday}" readonly="true"><br>
        <label th:if="${gender == 'M'}">남</label><input th:if="${gender == 'M'}" name="gender" type="radio" value="M" checked="true" readonly="true">
        <label th:if="${gender == 'W'}">여</label><input th:if="${gender == 'W'}" name="gender" type="radio" value="W" checked="ture" readonly="true"><br>
        <input type="button" onclick="googleLogin();" value="구글 로그인">
    </form>
    <!----------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
    <!-- 아이디 및 비밀번호가 틀릴 경우 에러 알림창이 등장 -->
    <script th:inline="javascript">
        // 컨트롤러에서 모델로 바인딩한 에러 체크값
        let error = [[${error}]];
        // 컨트롤러에서 모델로 바인딩한 에러 메세지
        let errorMsg = [[${errorMsg}]];

        // 에러 체크값이 true일 경우 에러 알림창 등장
        if ( error == "true" ) {
            alert(errorMsg);
        }
    </script>

    <script src="/js/httpRequest.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="https://accounts.google.com/gsi/client" async defer></script>
    <script src="https://unpkg.com/jwt-decode/build/jwt-decode.js"></script>
    <script>
        function googleLogin() {
        }
        async function googleCode() {
            let code  = document.getElementById("code").value;
            alert(code);

            const getToken = await fetch("https://www.googleapis.com/oauth2/v4/token", {
                method: "post",
                headers: { "Content-Type": "application/x-www-form-urlencoded" },
                data: {
                    code: code,
                    client_id: "346535144521-qthfl467cl8jrdcdc2g8l3lvpurqsk1h.apps.googleusercontent.com",
                    client_secret: "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",
                    redirect_uri: "http%3A%2F%2Flocalhost%3A8888%2Floginform",
                    grant_type: "authorization_code"
                }
            }).then(res => res.json());
            alert(getToken);
            console.log(getToken);
<!--            const getMember = await fetch("https://people.googleapis.com/v1/people/me", {-->
<!--                method: "get",-->
<!--                headers: { "Content-Type": "application/json" },-->
<!--                data: {-->
<!--                    key: "AIzaSyDr3XNA_3hT9py0zIaHxQwIBVibhuIC_3E"-->
<!--                }-->
<!--            });-->
        }
    </script>
    <script>
        async function onSignIn() {
            const code = await fetch("https://accounts.google.com/o/oauth2/v2/auth" {
                method: "get",
                headers: { "Content-Type": "application/json" },
                data: {
                    scope: "https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fuserinfo.profile%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fuserinfo.email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fuser.birthday.read%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fuser.gender.read%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fuser.phonenumbers.read",
                    access_type: "offline",
                    include_granted_scopes: "true",
                    response_type: "code",
                    state: "state_parameter_passthrough_value",
                    redirect_uri: "http%3A%2F%2Flocalhost%3A8888%2Floginform%2Fgoogle%2Fcode",
                    client_id: "346535144521-qthfl467cl8jrdcdc2g8l3lvpurqsk1h.apps.googleusercontent.com"
                }
            });
            console.log(code);
        }
        function handleCredentialResponse(response) {
            console.log(response);
            var f = document.getElementById("google");
            var profile = jwt_decode(response.credential);
            var emailId = document.getElementById("emailId");
            var name = document.getElementById("name");
            emailId.value = profile.email;
            name.value = profile.name;
            console.log(profile.code);
            console.log("ID: " + profile.sub);
            console.log('Name: ' + profile.name);
            console.log("Email: " + profile.email);

            let access_token  = [[${param.access_token}]];

            $.ajax({
                url: 'https://people.googleapis.com/v1/people/me'
                , data: {personFields:'birthdays',
                        key:'AIzaSyDr3XNA_3hT9py0zIaHxQwIBVibhuIC_3E',
                        'access_token': access_token}
                , method:'GET'
            });

            const getToken = await fetch("https://people.googleapis.com/v1/people/me", {
                method: "get",
                headers: { "Content-Type": "application/json" },
                data: {
                    key: "AIzaSyDr3XNA_3hT9py0zIaHxQwIBVibhuIC_3E"
                }
            });
        }
    </script>

<!--    &lt;!&ndash; Ajax사용을 위한 js를 추가 &ndash;&gt;-->
<!--    <script src="/js/httpRequest.js"></script>-->
<!--    <script th:inline="javascript">-->
<!--        function login(f) {-->
<!--            let emailId = f.emailId.value;-->
<!--            let pwd = f.pwd.value;-->

<!--            let url = "/loginform/login";-->
<!--            let param = "emailId=" + emailId +-->
<!--                        "&pwd=" + pwd;-->
<!--            sendRequest(url, param, resultLogin, "POST");-->
<!--        }-->
<!--        function resultLogin() {-->
<!--            alert(xhr.readyState);-->
<!--            if ( xhr.readyState == 4 && xhr.status == 200 ) {-->
<!--                let error = [[${error}]];-->
<!--                let errorMsg = [[${errorMsg}]];-->
<!--                if ( error == "true" ) {-->
<!--                    alert(errorMsg);-->
<!--                }-->
<!--            }-->
<!--        }-->
<!--    </script>-->
</body>
</html>